includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/

    # Level 10 is the highest level
    level: 8
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
#        - '#Attribute class Dedoc\\Scramble\\Attributes\\ExcludeAllRoutesFromDocs does not have the method target.#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
